<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/38ea345f-d94d-4b9a-a726-593b91b8139d/resourceGroups/ExampleDeploy/providers/Microsoft.Web/sites/webExample</ResourceId>
    <ResourceGroup>ExampleDeploy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webexample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4ceacc4d-7bca-4513-b016-819ff9646f6b</ProjectGuid>
    <PublishUrl>https://webexample.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webExample</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>